* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.63);
    font-family: 'Caveat', cursive;
}
body {
    background-color: rgb(35, 35, 116) !important;
}

/* area debug */

/* fine area debug */

/* header */
header {
    background-color: rgb(49, 49, 165);
    z-index: 999;
    
}
header i, header h1{
    color: beige  !important;
    font-size: 60px;
}
header i {
    color: rgb(238, 238, 90) !important;
    line-height: inherit;
}


/* main */

